body{
    color:whitesmoke;
    background-color: black;
}
.heading{
    width:80%;
    font-size:30px ;
}
.name_of_objects{
    font-size:25px;
    color:gold
}
#camera,#result{
border:2px dashed white;
width: 350px;
height: 300px;
}